@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  color: #fff;
  font-family: "JetBrains Mono";
}

body {
  background: #1b1b1b;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Убираем скролл страницы */
}