@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  color: #fff;
  font-family: "JetBrains Mono";
}

a {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: .5s;
}

a:hover {
  color: rgb(65, 65, 217);
  background: rgba(114, 114, 181, 0.25);
}

body {
  background: #1b1b1b;
  padding: 5vw 10vw;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
section {
  margin: 10vh 0;
}

header {
  margin: 5vh 0;
}

nav {
  display: flex;
  gap: 20px;
}

.sections {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post__header {
  font-size: 32px;
  font-weight: bold;
  width: fit-content;
}

.post__category {
  font-style: italic;
  width: fit-content;
}

.post__link {
  color: rgb(65, 65, 217);
  background: rgba(114, 114, 181, 0.25);  
}

.post__text {
  font-size: 20px;
  line-height: 160%;
}


#editor {
  width: 500px;
  min-height: 200px;
  max-height: 1000px;
  padding: 10px;
  border: 1px solid white;
  overflow-y: scroll;
  line-height: 150%;
}

#editor::-webkit-scrollbar {
  display: none;
}

#editor img {
  width: 100%;
  border-radius: 10px;
}



/* about page */
.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about > p {
  font-size: 20px;
}

.about h2 {
  text-align: center;
  font-style: italic;
}

.about > .about-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.about-block {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 20%;
}

.about-block > .about-title {
  font-size: 24px;
}

.about-block > .about-text {
  font-size: 20px;
  line-height: 25px;
}

.about-block > p > a {
  text-decoration: underline;
  font-weight: bold;
}