@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  color: #fff;
  font-family: "JetBrains Mono";
}

a {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

body {
  background: #1b1b1b;
  padding: 5vw 10vw;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
}

#editor {
  width: 500px;
  min-height: 200px;
  max-height: 1000px;
  padding: 10px;
  border: 1px solid white;
  overflow-y: scroll;
  line-height: 150%;
}

#editor::-webkit-scrollbar {
  display: none;
}

#editor img {
  width: 100%;
  border-radius: 10px;
}