@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  color: #fff;
  font-family: "JetBrains Mono";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1b1b;
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.auth>input {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: inherit;
    padding: 10px;
    outline: none;

}

.auth>button {
    width: fit-content;
    padding: 10px;
    font-size: inherit;
    color: #1b1b1b;
    border: none;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}